html
{
    font-size: 1.2rem;
}

body
{
    margin: 2% 4%;
    font-family: 'Ubuntu';
}

/*
    Applying grid layout to the page
 */
.grid-container
{
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

header
{
    grid-area: header;
}

/* Applying flexbox layout to note list */
.content-container
{
    grid-area: content;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

aside
{
    grid-area: sidebar;
}

footer
{
    grid-area: footer;
}


/*
    Styling specific grid elements
 */
header, footer
{
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
    background-color: lightcyan;
}


/*
    Styling notes
 */
.note-container
{
    flex: 1 400px;

    margin: 2%;
    padding: 1%;


    border: 2px solid orange;
    border-radius: 5px;
    background-color: lightgray;
}


/*
    Styling forms
 */

.column-flow-container
{
    flex-flow: column wrap;
    justify-content: start;
}

form
{
    font-size: 1.4rem;
    padding: 1.2rem;

    border: 2px solid orange;
    border-radius: 5px;
    background-color: yellow;

}

tr > th
{
    padding: 1.5% 0.5%;
}

th
{
    font-weight: normal;
    text-align: start;
}

input[type="text"], input[type="url"]
{
    padding: 0.4rem;
    width: 40vw;
    font-size: 1.1rem;
}

input[type="submit"]
{
    font-size: 1.3rem;
}

.form-error
{
    font-size: 1.1rem;
}


