:root {
    --clr1: hsl(0, 0%, 97%);
    --clr2: hsl(0, 0%, 93%);
    --clr3: hsl(0, 0%, 84%);
    --clr4: hsl(0, 0%, 72%);
    --clr5: hsl(0, 0%, 60%);
    --clr6: hsl(0, 0%, 46%);
    --clr7: hsl(0, 0%, 30%);
    --clr8: hsl(0, 0%, 14%);
    --clr9: hsl(0, 0%, 7%);
    --radius: 0.5rem;
}

html
{
    font-size: 18px;
}

body
{
    margin: 0 2rem;
    font-family: 'Ubuntu';

    /*
    background: linear-gradient(rgb(133, 123, 102), rgb(155, 122, 117));
    background: -webkit-linear-gradient(left, transparent 0%,rgb(133, 123, 102) 50%,rgb(155, 122, 117) 100%);
     */
    background: var(--clr2);
    color: var(--clr9);
}

/*
    Applying grid layout to the page
 */
.grid-container
{
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.6fr 6fr 0.3fr;
    gap: 20px;

    position: relative;
    min-height: 90vh;
    max-height: 94vh;
}

header
{
    grid-area: header;
}

/* Applying flexbox layout to note list */
.content-container
{
    grid-area: content;
    padding: 1rem;

    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-around;
}

aside
{
    grid-area: sidebar;
}

footer
{
    grid-area: footer;
}


/*
    Styling specific grid elements
 */
header
{
    border-bottom: 2px solid;
    border-color: var(--clr4);
}

footer
{
    font-size: 0.85rem;
    border: 2px solid;
    border-color: var(--clr2);
    color: var(--clr8);
    border-radius: 5px;
    padding: 3px;
}

footer > p
{
    margin-left: 2%;
}

/*
    Styling notes list
 */
.note-container
{
    flex: 1 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2rem;
    padding: 2rem 1rem;


    border: 2px solid;
    border-color: var(--clr6);
    border-radius: var(--radius);
    background-color: var(--clr6);
}

.note-container > a
{
    display: block;
    text-decoration: none;
    color: var(--clr1);
}

.notes-list-edit
{
    border: solid 1px black;
    border-radius: 5px;
    margin: 0 0 0.5% 1%;
    padding: 0.5% 1%;
}


/*
    Styling note detail view
 */
.detail-container
{
    width: 100%;
}

.detail-container h2
{
    font-size: 1.55rem;
}

.note-categories
{
    margin: 3% 0 4% 0;
}

.note-detail-categories
{
    margin-bottom: 3%;
}

.note-detail-categories a
{
    text-decoration: none;
    border: solid 1px orange;
    border-radius: 5px;
    padding: 0.5% 1%;
    margin: 0.5% 1%;
}

.note-detail-links a
{
    font-size: 0.8rem;
    margin-right: 2%;
}

.note-detail-url
{
    font-size: 0.85rem;
    margin-bottom: 3%;
}

/*
Styling categories list
 */
.categories-container
{
    flex: 1 200px;
}


/*
    Styling forms
 */
.column-flow-container
{
    flex-flow: column wrap;
    justify-content: start;
}

form
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1.25rem;

    border-radius: var(--radius);
    background-color: var(--clr4);
    color: var(--clr8);
}

tr
{
    display: block;
    margin-bottom: 0.5rem;
}

tr > th
{
    padding: 1.5% 0.5%;
}

th
{
    display: block;
    font-weight: normal;
    text-align: start;
}

td
{
    display: block;
}

input
{
    background-color: var(--clr2);
    color: var(--clr9);
}

input[type="text"], input[type="url"], input[type="password"]
{
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    width: 40vw;
    font-size: 1rem;
}

input[type="submit"]
{
    border: none;
    border-radius: 0.125rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 1.125rem;
    background-color: var(--clr7);
    color: var(--clr3);
    cursor: pointer;
    margin-top: 0.5rem;
}

input[type="submit"]:hover
{
    background-color: var(--clr6);
}

.register-info
{
    font-size: 0.875rem;
}

.form-error
{
    font-size: 0.96rem;
    margin: 1% 0;
}

/*
    Styling sidebar
 */
.sidebar-search-form
{
    align-items: start;

    font-size: 1rem;
    margin: 4%;

    background-color: rgb(122, 114, 102);
}

.sidebar input[type="search"]
{
    width: 100%;
}

.sidebar input[type="submit"]
{
    font-size: 0.9rem;
    margin: 2% 0;
}

.sidebar a
{
    color: var(--clr7);
}
