<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <header layout:fragment="header">
        <h1>Add new category</h1>
    </header>

    <section layout:fragment="content-container" class="content-container column-flow-container">
        <form role="form" method="post" th:action="@{/categories/new}" th:object="${category}">
            <table>
                <tr>
                    <th scope="row">
                        <label for="category-name">Category name:</label>
                    </th>
                    <td>
                        <input type="text" id="category-name" name="category-name" th:field="*{name}"/>
                    </td>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-error"> </p>
                </tr>

                <tr>
                    <th scope="row">
                        <input type="submit" value="Submit" />
                    </th>
                </tr>

            </table>
        </form>
    </section>

</html>