<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <header layout:fragment="header">
        <h1>Categories list</h1>
    </header>

    <section layout:fragment="content-container" class="content-container">
        <div class="categories-container note-container" th:each="category :${categories}">
            <!--
            <a th:href="@{/notes/{noteId}(noteId=${note.id})}">
            -->
                <h2 th:text="${category.name}">Category Name</h2>
                <p th:text="${category.id}">Category id</p>
                <!--
                <a th:href="@{/notes/{noteId}/update(noteId=${note.id})}" class="notes-list-edit">Edit</a>
            </a>
            -->
        </div>
    </section>

</html>