<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT-TITLE">Notes</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu" />
    </head>

    <body>
        <div class="grid-container">
            <header layout:fragment="header">
                <!-- layout -->
            </header>

            <section layout:fragment="content-container" class="content-container">
                <!-- layout -->
            </section>

            <aside class="sidebar">
                <h3>Links</h3>

                <h4>Notes:</h4>
                <ul>
                    <li> <a th:href="@{/notes}">All notes</a> </li>
                    <li> <a th:href="@{/notes/new}">Add new note</a> </li>
                </ul>

                <h4>Categories:</h4>


                <section layout:fragment="sidebar-layout" class="sidebar-layout">
                    <!-- layout -->
                </section>
            </aside>

            <footer>
                <p>Footer</p>
            </footer>
        </div>
    </body>
</html>