<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <header layout:fragment="header">
        <h1>Add new note</h1>
    </header>

    <section layout:fragment="content-container" class="content-container">
        <div class="form-container">
            <form>
                <table>
                    <tr>
                        <th scope="row">
                            <label for="note-title">Note title:</label>
                        </th>
                        <td>
                            <input type="text" id="note-title" name="note-title" />
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            <label for="note-title">Note content:</label>
                        </th>
                        <td>
                            <input type="text" id="note-content" name="note-content" />
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            <label for="note-title">Note url:</label>
                        </th>
                        <td>
                            <input type="text" id="note-url" name="note-url" />
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            <input type="submit" value="Submit" />
                        </th>
                    </tr>

                </table>
            </form>
        </div>
    </section>

</html>