<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<header layout:fragment="header">
    <h1>Update note</h1>
</header>

<section layout:fragment="content-container" class="content-container column-flow-container">
    <form role="form" method="post" th:action="@{/notes/{noteId}/update(noteId=${note.id})}" th:object="${note}">
        <table>
            <input type="hidden" th:field="*{id}" />

            <tr>
                <th scope="row">
                    <label for="note-title">Note title:</label>
                </th>
                <td>
                    <input type="text" id="note-title" name="note-title" th:field="*{title}"/>
                </td>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="form-error"> </p>
            </tr>

            <tr>
                <th scope="row">
                    <label for="note-title">Note content:</label>
                </th>
                <td>
                    <input type="text" id="note-content" name="note-content" th:field="*{content}"/>
                </td>
                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="form-error"> </p>
            </tr>

            <tr>
                <th scope="row">
                    <label for="note-url">Note url:</label>
                </th>
                <td>
                    <input type="url" id="note-url" name="note-url" th:field="*{url}"/>
                </td>
            </tr>

            <tr>
                <th scope="row">
                    <input type="submit" value="Submit" />
                </th>
            </tr>

        </table>
    </form>
</section>

</html>