<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <header layout:fragment="header">
        <h1>Note details</h1>
    </header>

    <section layout:fragment="content-container" class="content-container column-flow-container">
        <div class="detail-container">
            <h2 th:text="${note.title}"></h2>
            <p th:text="${note.content}"></p>
            <a th:href="${note.url}"></a>
            <div class="note-categories">
                <a th:each="category :${note.categories}" th:href="@{/categories/{categoryId}(categoryId=${category.id})}" th:text="${category.name}"></a>
            </div>
            <a th:href="@{/notes/{noteId}/delete(noteId=${note.id})}">Delete note</a>
            <a th:href="@{/notes/{noteId}/assign-categories(noteId=${note.id})}">Assign categories</a>

            <!--
            <ul th:each="category :${note.categories}">
                <li th:text="${category.name}"></li>
            </ul>
            -->
        </div>
    </section>

</html>